{% extends "base.html" %}
{% block content %}
    <h1>Hubungi Saya</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=30) }}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=30) }}
        </div>
        <div>
            {{ form.message.label }}<br>
            {{ form.message(rows=5) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}